# Ignore build and cache directories
.next
out
.cache

# Ignore static assets and public files
public

# Ignore dependency directories
node_modules

# Ignore lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore environment files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore IDE-specific files
.vscode
.idea

# Ignore logs and diagnostics
*.log
logs

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore specific files
.next.config.js
next-env.d.ts